.global_gestion_user{
    display:flex;
    justify-content: center;
}
/*AJOUTER USAGER =============================================================*/

.ajout_usagers{
    margin: 1em;
    background-color: white;
    margin-top: 1em;
    border: none;
    border-radius: 4px;
    width: 30%; 

}
.ajout_usagers label {
    display: flex;
    margin-bottom: 5px; 
}

.ajout_usagers input,
.ajout_usagers select {
    margin-bottom: 10px; 
    width: 90%;

}

.ajout_usagers input[type="submit"] {
    width: auto; 
    margin-bottom: 0;
}


/*MODIFIER USAGER =============================================================*/

.modifications_usagers{
    margin: 1em;
    background-color: #ffffff;
    margin-top: 1em;
    border: none;
    border-radius: 5%;
    width: 30%; 

}
.modifications_usagers label {
    display: flex;
    margin-bottom: 5px; 
}

.modifications_usagers input,
.modifications_usagers select {
    margin-bottom: 10px; 
    width: 90%;
}

.modifications_usagers input[type="submit"] {
    width: auto; 
    margin-bottom: 0;
}
/*SUPPRIMER USAGER =============================================================*/
.suppresion_usagers{
    margin: 1em;
    background-color: white;
    margin-top: 1em;
    margin-right: 4em;
    border: none;
    width: 30%; 

}
.suppresion_usagers label {
    display: flex;
    margin-bottom: 5px; 
}

.suppresion_usagers input,
.suppresion_usagers select {
    margin-bottom: 10px; 
    width: 90%;
}

.suppresion_usagers input[type="submit"] {
    width: auto; 
    margin-bottom: 0;
}
/*AJOUTER MEDECIN =============================================================*/
.global_gestion_medecins{
    display: flex;
}
.ajout_medecin{
    margin: 1em;
    background-color: white;
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 4px;
    width: 30%; 

}
.ajout_medecin label {
    display: flex;
    margin-bottom: 5px; 
}

.ajout_medecin input,
.ajout_medecin select {
    margin-bottom: 10px; 
    width: 90%;

}

.ajout_medecin input[type="submit"] {
    width: auto; 
    margin-bottom: 0;
}

.category{

    text-align: center;
    border-radius: 4px;
    width: auto; 
}