.navBar {
    background-color: #3498db;
    overflow: hidden;
    padding: 10px;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline-block;
    margin-right: 15px;
}

.navBar a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navBar a:hover {
    background-color: #2980b9;
}
h1 {
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    justify-content: center;
    margin: 20px;
}

.navBar {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
}

.navElement {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
}

.navElement:hover {
    background-color: #2980b9;
}
.button_back {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}

.button_back:hover {
    background-color: #2980b9;
    text-decoration: none; 
}
.button_back a:visited {
    color: white; 
    text-decoration: none; 
}

