body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    margin: 15px 10px;
    border: 2px solid #2980b9;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
