

.tableau {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd; /* Bordure ajoutée */
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Ajoutez d'autres styles selon vos besoins */
